h1
    i.bi.bi-people
    | &nbsp;Members (#{members.length})


.members-list
    hr
    each member in members

        - var iconUrl = ""
        if !member.iconURL
            - iconUrl = "https://yt3.ggpht.com/ytc/AAUvwniEUaBNWbH9Pk7A1cmIBdxnYt0YYrgNKx5h8grSMA=s900-c-k-c0x00ffffff-no-rj"
        else
            - iconUrl =member.iconURL



        .member-item
            .member-grid
                .member-icon
                    img(src=iconUrl height=96 width=96)
                .member-info
                    span.name
                        | #{member.tag.trim()} &nbsp;
                    if member.owner
                        span.crown 👑 &nbsp
                    button.button.copy-button(onclick="copyString('" + member.id + "')")
                        i.bi.bi-clipboard
                    br
                    br
                    if !(member.id == client.user.id || member.id == discordId || member.id == owner.id)
                        if(member.kickable)
                            a.button.kick-button(href=baseUrl + "guilds/" + guild.id + "/members/" + member.id + "/kick")
                                i.bi.bi-box-arrow-right
                                | &nbsp;Kick #{member.name}
                        else
                            a.button.info-button()
                                i.bi.bi-slash-circle
                                | &nbsp;Not kickable
                    else
                        a.button.info-button()
                            i.bi.bi-slash-circle
                            | &nbsp;Not kickable
        hr

block scripts
    script.
        tippy('.crown', {
            content: "Guild owner",
            placement: "bottom"
        });


